@media only screen and (min-width: 500px) {
    img {
        width: 800px;
        height: 500px !important;
    }
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(images/preloader.gif) center center no-repeat;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: coral !important;
}

img {
    width: 100%;
    height: 300px;
    max-height: 300px;
}

images {
    width: 100%;
    height: 300px;
    max-height: 300px;
}

.footer, .footerLink {
    line-height: .5rem;
    font-style: italic;
    color: coral;
    font-weight: 500;
}

.footerLink {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footerLink:hover {
    color: #000;
    text-decoration: none;
}

.navbar-light a.navbar-brand,
.navbar-nav.ml-md-auto li.nav-item a.nav-link {
    color: coral;
    font-weight: 500;
}

.navbar-nav.ml-md-auto li.nav-item.active a.nav-link {
    color: black;
}